<%= form_for note do |f| %>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :visible_to %>
  </p>
  <p>
    <%= f.text_area :visible_to %>
  </p>
  <%= f.submit 'save' %>
<% end %>
