<ul>
	<li><%= link_to("Home", root_path) %></li>
	<li><%= link_to "Sign Up", new_user_registration_path %></li>
	<li><%= link_to "Sign in", new_user_session_path %></li>
	<li><%= link_to "Notes", notes_path %></li>
	<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
	<li><%= link_to "New Note", new_note_path %></li>
</ul>