<!DOCTYPE html>
<html>
<head>
  <title>Devise and Pundit Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/messages' %>
<%= yield %>
  <%= render 'devise/menu/session_links' %><br>
  <%= render 'devise/menu/navigation_links' %>
</body>
</html>
